.logo
{
  width: 100px;
  height: 100px;
}
.text
{
  color: white;
  font-size: 50px; 
  text-align: center;
}
.banner
{
  width: 100%;
  height: auto;
}
.loginn
{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.button 
{
  background-color: rgb(255, 179, 0);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button:hover 
{
  opacity: 1;
}
.about
{
  width: 500px;
  height: 500px;
}
.social
{
  width: 400px;
  height: 300px;
}
.text1
{
  color: white;
}
.bottom
{
  background-color: black;
}
.log
{
  margin-top: 10px;
  margin-bottom: 10px;
  height:20px;
  float: right;
  margin-left: 10px;
}
.btn1{
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
}


